## ignore all files in all subdirectories (including /)
**/*
## except: all subdirectories (just folders)
!**/
## except: gitignore file (only the one in /)
!.gitignore
!**/Doxyfile
!**/Makefile
## except: any file in any subdirectory that matches:
!**/*.md
!**/*.cpp
!**/*.hpp
!**/*.ipp
!**/*.sh

## output of doxygen
doxy-out/*